<html>
  <head>
    <style type="text/css">
      html, body, #map-canvas { height: 100%; margin: 0; padding: 0;}
    </style>
    <script type="text/javascript"
      src="{{url}}">
    </script>
    <script type="text/javascript">
        var map = new google.maps.Map(document.getElementById('map-canvas'),
            mapOptions);
        {% for library in libraries %}
        var marker= new google.maps.Marker({
        	position: {{library[1]}},
        	map: map,
        	title: "{{library[0]}}"
        });
        {% endfor %}
      google.maps.event.addDomListener(window, 'load', initialize);
    </script>
  </head>
  <body>
<div id="map-canvas"></div>
  </body>
</html>