<html>
  <head>
    <style type="text/css">
      html, body, #map-canvas { height: 100%; margin: 0; padding: 0;}
    </style>
    <script type="text/javascript"
      src="{{url}}">
    </script>
    <script type="text/javascript">
        function initialize() {
          var mapOptions = {
            center: { lat:40.752198399999997, lng:-73.981831200000002},
            zoom: 12
           };
          var map = new google.maps.Map(document.getElementById('map-canvas'),
            mapOptions);

          var myinfoWindow = new google.maps.InfoWindow({
            });
          {% for library in libraries %}
          var contentString = '<div id="content">'+
          '<div id="siteNotice">'+
          '</div>'+
          '<h1 id="firstHeading" class="firstHeading">{{library[0]}}</h1>'+
          '<p>{{library[3]}}</p>'+
          '</div>'+
          '</div>';
         
          var marker= new google.maps.Marker({
          	position: {lat: {{library[1]}}, lng: {{library[2]}} },
          	map: map,
          	title: "{{library[0]}}",
            infoWindow : myinfoWindow
          });

          listen(marker, myinfoWindow, map,contentString)
        {% endfor %}
      }
          function listen(marker, infoWindow,map,contentString){
          google.maps.event.addListener(marker,'click',function(){
            infoWindow.setContent(contentString)
            infoWindow.open(map,marker);
          });
        }
      google.maps.event.addDomListener(window, 'load', initialize);
    </script>
  </head>
  <body>
<div id="map-canvas"></div>
  </body>
</html>